.bookingDashboard-Paper {
background-color:'#F8F9FA';
          background-repeat: 'no-repeat';
          padding: 2;
          text-align: 'center'; 
          display: 'flex';
          flex-direction: 'column'; 
          justify-content: 'center';
          align-items: 'center';
          height: '100%';
          width: '100%'; 

}
/* Container to center the form on the page */
.div-dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
   width: '100%'; 
}

.section-header-container {
  margin-bottom: 2rem; /* Adds space below the header */
  padding-top: 2rem;   /* Adds space above the header */
  }

.section-title {
  font-size: 2.5rem; /* Large, prominent title */
  color: #ebe3e3;
  margin: 0 0 0.5rem 0;
}

.section-subtitle {
  font-size: 1.2rem;
  color: #dfdada;
  margin: 0;
}

.booking-header-container {
  display: flex;
  /* Optional: adds space between the divs */
  gap: 20px; 
}

.right-button-container {
  /* This ensures the container stretches the full width of its parent (e.g., the page/viewport) */
  width: 100%;
  display: flex;
  /* Aligns the button(s) to the right end */
  justify-content: center;
  /* Optional: Adds some space around the button */
  padding: 20px;
}
.right-button {
  padding: 10px 20px;
  background-color: #ff2600;
  border-radius: 20px; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.left-section, .right-section {
  /* Optional: makes both divs share the available space equally */
  flex: 1; 
  /* Add other styles for visualization */
  padding: 20px;
 }

