.bookingDashboard-Paper {
background-color:'#F8F9FA';
          background-repeat: 'no-repeat';
          padding: 2;
          text-align: 'center'; 
          display: 'flex';
          flex-direction: 'column'; 
          justify-content: 'center';
          align-items: 'center';
          height: '100%';
          width: '100%'; 

}
/* Container to center the form on the page */
.div-dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
   width: '100%'; 
}

.section-header-container {
  margin-bottom: 2rem; /* Adds space below the header */
  padding-top: 2rem;   /* Adds space above the header */
  border-bottom: 1px solid #eee; /* Optional: a subtle line */
}

.section-title {
  font-size: 2.5rem; /* Large, prominent title */
  color: #ebe3e3;
  margin: 0 0 0.5rem 0;
}

.section-subtitle {
  font-size: 1.2rem;
  color: #dfdada;
  margin: 0;
}