.bookingDashboard-Paper {
background-color:'#F8F9FA';
          background-repeat: 'no-repeat';
          padding: 2;
          text-align: 'center'; 
          display: 'flex';
          flex-direction: 'column'; 
          justify-content: 'center';
          align-items: 'center';
          height: '100%';
          width: '100%'; 

}
/* Container to center the form on the page */
.div-dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
   width: '100%'; 
}