.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    color: #fff;
    width: 100%;
  }
  
  .navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-center .nav-links li {
    margin-right: 1rem;
  }
  
  .navbar-center .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right .cart-icon,
  .navbar-right .user-icon {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    position: relative;
  }
  
  .navbar-right .cart-count {
    background-color: #f44336;
    color: #fff;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
  }

  .navbar-grid {
     height: 300px; 
     overflow: 'auto';
     border: '1px solid #ccc';
     max-width: 100%;
    
  }

  .img-navbar {
  max-width: 25%;
  height: auto;
}
.navbar-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Optional: ensure cards in a row have equal height */
  height: 100%; 
}

.navbar-grid-container {
  display: grid;
  /* Creates as many columns as can fit, with each being at least 250px wide */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px; /* Adds space between the cards */
  padding: 5px;
}


  /* Example CSS */
    .navbar-sectioned-list-container {
      width: 100%;
      flex-direction: 'column';
    }

    .navbar-section-group {
      margin-bottom: 20px;
      width: 100%;
    }

    .navbar-section-header {
      background-color: #f0f0f0;
      padding: 10px;
      margin-top: 0;
      margin-bottom: 5px;
      position: sticky; /* For sticky headers */
      top: 0;
      z-index: 1;
    }

    .navbar-section-items {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .navbar-section-item {
      padding: 8px 10px;
      border-bottom: 1px solid #eee;
    }

    .navbar-section-item:last-child {
      border-bottom: none;
    }

    .navbar-list-container {
      display: 'flex';
    flex-direction: 'column'; 
    list-style: 'none';
    padding: 0,

    }

    .navbar-list-item-style {
      margin-bottom: '10px', 

    }

    .appHeader {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLink {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  transition: color 0.3s;
}

.navLink:hover {
  color: #4CAF50;
}
