# Ignore common version control and environment files
.git
.gitignore
.vscode
.aws
.ssh
.DS_Store

# Ignore common build output directories
**/build
**/coverage
**/venv
**/env

# Language-specific ignores (example for Node.js projects)
node_modules

# Ignore Docker and project management files not needed in the final image
Dockerfile
docker-compose*.yml
Makefile
README.md
*.md
